html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font:32px/43px 'Noto Sans';
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

h2 span {
  display: inline-block;
  margin-left: 16px;
  font:24px/32px Roboto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

$color:(
  red:#A00404,
  blue:#415165,
)