@import "reset";
@import "variables";

.intro{
  h1{
    margin-top: 37px;
    margin-bottom: 51px;
    border-bottom: 1px solid #000;
  }
  img{
    margin-bottom: 51px;
  }
  h2{
    span{
      color:map-get($color,red);
    }
  }
  p{
    margin-bottom: 1.5rem;
    &+p{
      margin-bottom: 4.5rem;
    }
  } 
}
.skill{
  background: map-get($color,blue);
  padding-bottom: 36px;
  .container{
    padding-right: 102px;
    padding-left: 102px;
    color: #ffffff;
    text-align: center;
  }
  h2{
    padding-top: 24px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 40px;
  }
  ul{
    border-left: 1px solid #ffffff;
    text-align: left;
    display: inline-block;
    li{
      margin-left: 24px;
      margin-bottom: 16px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.experience{
  padding-bottom: 72px;
  h2{
    padding-top: 72px;
    span{
      color: map-get($color,red);
    }
  }
  .list{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 20px;
    & > li{
      margin-bottom: 24px;
    }
    & :last-child{
      margin-bottom: 0;
    }
    h3{
      font-size: 24px;
      line-height: 1.5;
    }
  }
  .detail{
    h3{
      margin-bottom: 8px;
    }
    img{
      margin-bottom: 8px;
    }
    p{
      font-size: 20px;
      line-height: 1.5;
    }
  }
}
.connection{
  background: map-get($color,blue);
  padding-bottom: 36px;
  .container{
    text-align: center;
    color: #ffffff;
  }
  h2{
    padding-top: 24px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 2rem;
  }
  .communityIcon {
    display: flex;
    justify-content: center;
    & :nth-child(2){
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}