@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');
@import "variables";

.intro{
  margin-bottom: 72px;
  h1{
    font:80px/106px Roboto;
    margin: 37px 0 48px 0;
    border-bottom: 1px solid #000;
  }
  h2{
    span{
      color:map-get($color, red )
    }
  }
  img{
    margin-bottom: 51px;
  }
  li{
    font:24px/36px 'Noto Sans TC';
    &:first-child{
      margin-bottom: 24px;
    }
  }
}

.education{
  margin-bottom: 72px;
  span{
    color:map-get($color,red);
  }
  li{
    font:24px/36px 'Noto Sans TC';
    &:first-child{
      margin-bottom: 24px;
    }
  }
}

.skill{
  background: map-get($color,blue);
  padding-bottom: 36px;
  .container{
    max-width: 996px;
    color: #ffffff;
    text-align: center;
  }
  h2{
    padding-top: 24px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 40px;
  }
  ul{
    border-left: 1px solid #ffffff;
    text-align: left;
    display: inline-block;
    li{
      margin-left: 24px;
      margin-bottom: 16px;
      p{
        font:24px/36px Roboto;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.experience{
  padding-bottom: 72px;
  h2{
    padding-top: 72px;
    span{
      color: map-get($color,red);
    }
  }
  .list{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 20px;
    & > li{
      margin-bottom: 24px;
    }
    & :last-child{
      margin-bottom: 0;
    }
    h3{
      font:24px/36px 'Nato Sans';
    }
    p{
      font:20px/30px 'Noto Sans';
      max-width: 642px;
    }
    a{
      display: inline-block;
      margin: 8px 0 8px 0;
      img{
        vertical-align: middle;
      }
    }
  }
}

.connection{
  background: map-get($color,blue);
  padding-bottom: 36px;
  .container{
    text-align: center;
    color: #ffffff;
  }
  li{
    font:300 24px/36px Roboto;
    margin-bottom: 16px;
  }
  &-method{
    a{
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      position: relative;
      &:before{
        content:"";
        position: absolute;
        opacity: 0;
        width:20px;
        height:20px; 
        border-radius:999em;
        background-color:#FFFFFF;
        top:calc(50% - 10px);
        left:calc(-30px + -16px);
        transition: 0.5s ease;
      }
      &:hover::before{
        opacity: 1;
      }
    }
  }
    
  h2{
    padding-top: 24px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 32px;
  }
  .communityIcon {
    display: flex;
    justify-content: center;
    a{
      display: inline-block;
    }
    img{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      display: inline-block;
      &:hover{
        background-image:linear-gradient(#f00, #00f);

      }
    }
    & :nth-child(2){
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}