ul{
  list-style: none;
  margin: 0;
};
@for $i from 1 through 6{
  h#{$i}{
    margin: 0;
  }
}
p{
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  display: block;
  text-decoration: none;
}
.lh-33{
  line-height: 2.0625rem;
}
.fw-700{
  font-weight: 700;
}
.text-green{
  color:#198754;
}
.bg-green{
  background-color: #198754;
}